* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

#header {
    background-color: #44549b;
    width: 100%;
    display: flex;
    color: #ffffff;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
}

ul#skillList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 30px 10px;
}

ul#skillList > li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    background-color: #44549b;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

ul#skillList > li:not(:last-child) {
    border-right: 1px solid #ffffff;
}
